/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require 'bootstrap'
*= require 'bootstrap-responsive'
*= require_self
*= require_tree .
*/

body {
  background: url('/assets/logo-background.png') no-repeat center center fixed, url('/assets/pattern.png') repeat fixed;
  color: #888888;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px;
}

.navbar-inner {
  background-color: #6D45C0 !important;
  background-image: linear-gradient(top , #6D45C0, #4C2E88);
  background-image: -o-linear-gradient(top , #6D45C0, #4C2E88);
  background-image: -moz-linear-gradient(top , #6D45C0, #4C2E88);
  background-image: -webkit-linear-gradient(top , #6D45C0, #4C2E88);
  background-image: -ms-linear-gradient(top , #6D45C0, #4C2E88);
  font-family: 'Days One', sans-serif;
}

p {
  font-size: 48px;
  line-height: 1;
  text-align: center;
}

h1 {
  color: #6d45c0;
  font-family: 'Days One', sans-serif;
  font-size: 48px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0 1px 0 #000000, 0 0 30px rgba(0, 0, 0, 0.4);
}

h2 {
  color: #6d45c0;
  font-family: 'Days One', sans-serif;
  font-size: 36px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0 1px 0 #000000, 0 0 30px rgba(0, 0, 0, 0.4);
}

h3 {
  color: #6d45c0;
  font-family: 'Days One', sans-serif;
  font-size: 30px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0 1px 0 #000000, 0 0 30px rgba(0, 0, 0, 0.4);
}

h4 {
  color: #6d45c0;
  font-family: 'Days One', sans-serif;
  font-size: 26px;
  margin: 0 0 40px;
  text-align: center;
  text-shadow: 0 1px 0 #000000, 0 0 30px rgba(0, 0, 0, 0.4);
}